{{movies|length}}

<div class="mx-auto w-4/5 my-8">
<a href="/movies/create" class="uppercase border border-gray-500 text-lg py-4 p-6 rounded bg-gray-800">Create New Movie</a>
</div>

{% for movie in movies %}
    {{movie.imagePath}}

    {{movie.title}}

    {{movie.description}}

    {{movie.id}}
{% endfor %}

